/* Content Card */
.grdUsr {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1rem));
  gap: 1rem;
  margin-top: 1.5rem;
  /* padding: 0 2rem; */
  margin-left: 1.5rem;
  min-width: 800px;
  /* margin-bottom: 1rem; */
}
.contentGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1rem));
  gap: 1rem;
  margin-top: 6rem;
  padding: 0 2rem;
  margin-left: 4.5rem;
  min-width: 800px;
  margin-bottom: 1rem;
}
.contentCard {
  background-color: var(--card-bg);
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8);
  transition: transform 0.2s, box-shadow 0.2s;
  min-height: 100%;
}

.contentCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.carHeader:hover {
  text-decoration: underline;
  cursor: pointer;
  color: royalblue;
}

.cardBadge.Dashboard {
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  background-color: #dbeafe;
  color: #1e40af;
}

.cardBadgeEngineering {
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  background-color: #dbeafe;
  color: #1e40af;
  cursor: pointer;
}

.cardBadgeOffice {
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  background-color: #fef3c7;
  color: #92400e;
  cursor: pointer;
}

.cardBadgeImages {
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  background-color: #fce7f3;
  color: #9d174d;
  cursor: pointer;
}

.cardBadgeFilms {
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  background-color: #e0e7ff;
  color: #3730a3;
  cursor: pointer;
}

.cardBadgeSoftware {
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  background-color: #ecfdf5;
  color: #079f46;
  cursor: pointer;
}

.cardDate {
  font-size: 0.75rem;
  color: var(--light-text);
  background-color: #ecfdf5;
  border-radius: 999px;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
}

.cardTitle {
  font-size: 18px;
  margin-bottom: 0.75rem;
  font-family: "PT-Sans", sans-serif;
}

.cardTitle:hover {
  text-decoration: underline;
  cursor: pointer;
  color: royalblue;
}
.cardDescription {
  font-size: 18px;
  color: var(--light-text);
  margin-bottom: 1rem;
  line-height: 1.5;
}

.cardPrompt {
  background-color: var(--bg-color);
  padding: 0.75rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.cardPrompt h4 {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: var(--light-text);
  text-transform: uppercase;
}

.cardPrompt p {
  font-size: 0.9rem;
  line-height: 1.5;
}

.cardFooter {
  display: flex;
  justify-content: flex-end;
}

.cardEngine {
  font-size: 0.8rem;
  color: var(--primary-color);
  font-weight: 600;
  cursor: auto;
}

.link {
  text-decoration: none;
  font-weight: 600;
}

.noResults {
  grid-column: 1 / -1;
  text-align: center;
  padding: 2rem;
  color: var(--light-text);
  font-size: 1.1rem;
}
