.sideNav {
  position: fixed;
  border-right-width: 1px;
  border-right-color: lightsteelblue;
  left: 0;
  top: 0;
  height: 100vh;
  width: 60px;
  background-color: azure;
  color: black;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  z-index: 1000;
}

/* .sideNav {
  background-color: #2c3e50;
} */

.sideNav.expanded {
  width: 200px;
}

.expandButton {
  background: none;
  border: none;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: -20px;
  transition: transform 0.3s ease;
}

.expandButton:hover {
  width: 200px;
}

.expandButtonBottom {
  background: none;
  border: none;
  padding: 20px;
  margin-bottom: -50px;
  height: 200px;
  transition: transform 0.3s ease;
}

.expandButtonBottom:hover {
  width: 200px;
}

.moreButton {
  margin-left: 8px;
}
.navContent {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  overflow: hidden;
}
.navItemadd {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  color: black;
  /* text-decoration: none; */
  transition: background-color 0.2s ease;
  white-space: nowrap;
  margin-left: 3px;
  cursor: pointer;
}

.navItemadd:hover {
  background-color: royalblue;
  transform: scale(1.1);
  width: 200px;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  color: black;
  /* text-decoration: none; */
  transition: background-color 0.2s ease;
  white-space: nowrap;
  cursor: pointer;
}

.navItem:hover {
  background-color: royalblue;
  transform: scale(1.1);
  width: 200px;
}

.navIcon {
  font-size: 1.2rem;
  margin-right: 15px;
  flex-shrink: 0;
}

.navText {
  /* opacity: 0; */
  display: inline-block;
  margin-left: 1.2rem;
  transition: opacity 0.2s ease 0.1s;
  color: black;
}

.expanded .navText {
  opacity: 1;
}

.navTextadd {
  /* opacity: 0; */
  text-size-adjust: 20px;
  display: inline-block;
  margin-left: 1.2rem;
  transition: opacity 0.2s ease 0.1s;
  color: black;
}

.expanded .navText {
  opacity: 1;
}

.moreButton {
  color: black; /* Orange example - change to any color */
}
.moreButton:hover {
  color: white;
}
