@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Caption:wght@400;700&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #2563eb;
  --secondary-color: #1e40af;
  --accent-color: #3b82f6;
  --text-color: #1f2937;
  --light-text: #6b7280;
  --bg-color: #f9fafb;
  --card-bg: #ffffff;
  --sidebar-bg: #ffffff;
  --navbar-bg: #ffffff;
  --border-color: #e5e7eb;
}

.dark {
  --primary-color: #3b82f6;
  --secondary-color: #2563eb;
  --accent-color: #60a5fa;
  --text-color: #f9fafb;
  --light-text: #9ca3af;
  --bg-color: #111827;
  --card-bg: #1f2937;
  --sidebar-bg: #111827;
  --navbar-bg: #1f2937;
  --border-color: #374151;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: all 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans", sans-serif;
  font-weight: 800;
}
